<section>
	<h2>There are {{restaurants.length}} restaurants</h2>
	{{#each restaurants}} 
		<article>
			<h2>{{this.name}}</h2>
			 <img src="{{this.image}}"/>
			 <a class="btn" href="/restaurant/{{id}}">See Restaurant</a>
		</article>
			
			
		
	{{/each}}
</section>